<h3>{{legend}}</h3>
<div class="input-group">
  <span class="input-group-btn">
    <button class="btn btn-info" type="button" (click)="changeValue(-5)">
      <i class="mdi mdi-minus"></i>
    </button>
  </span>
  <input type="number" class="form-control" name="progress" [(ngModel)]="progress" min="1" max="100" (ngModelChange)="onChanges($event)" #txtProgress>
  <span class="input-group-btn">
    <button class="btn btn-info" type="button" (click)="changeValue(+5)"> 
      <i class="mdi mdi-plus"></i>              
    </button>
  </span>
</div>